$yt_purple: #854C9E;
$yt_grey: #232b37;

.yt-purple {
  background-color: $yt_purple;
}

canvas {
  background: white;
}

.graph-paper canvas {
  background: url('/assets/images/grid-bg.gif') repeat;
}

.hover-group {
  position: absolute;
  top: 10px;
  &.left {
    left: 10px;
  }
  &.right {
    right: 10px
  }
  .expand {
    display: none;
    li {
      margin: 10px 0;
    }
  }
  &:hover, &:focus {
    .expand {
      display: block;
    }
  }
}

.side-nav {
  background: lighten($yt_grey, 10%);
  ul {
    margin: 0;
    li {
      background: $yt_grey;
      margin: 1px 0;
      &:hover, &:focus {
        background: #03a9f4;
      }
      font-size: 30px;
    }
    .fa {
      width: 40px;
    }
    li a, li label {
      font-weight: bold;
      color: white;
    }
  }
  li.active {
    background: $yt_purple;
    a {
      color: white;
      font-weight: bold;
    }
  }
  li.input {
    height: 64px;
    line-height: 64px;
    padding: 0 15px;
  }
}
