<div class="hover-group right">
  <a href="javascript:;" class="btn-floating btn waves-effect waves-light light-blue"><i class="mdi-social-notifications"></i></a>
  <ul class='expand'>
    <li>
      <a href="#" class="btn-floating btn waves-effect waves-light red"><i class="mdi-communication-forum"></i></a>
    </li>
    {{#each wb in whiteboards}}
      <li>
      {{#link-to 'whiteboards.show' wb class='btn-floating btn waves-effect waves-light blue-grey'}}{{wb.id}}{{/link-to}}
      </li>
    {{/each}}
  </ul>
</div>
